<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="!UserName">
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="UserName">
        <ul class="right-icons">
          <li><a routerLink="deconnexion" (click)="onDeconnexion()" ><i class="fa fa-sign-in" style="padding: 5px;"></i>Déconnextion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<header class=""  id="xxx">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars"  routerLinkActive="active">Voiture</a>
          </li>

          <ng-container *ngIf="typeCompte=='CM'">
            <li class="nav-item dropdown">
              <a routerLinkActive="active" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/locations" >locations</a>
                <a class="dropdown-item" routerLink="/equipements" >équipement</a>
                <a class="dropdown-item" routerLink="/clients" >clients</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="typeCompte=='CA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="/managers" routerLinkActive="active"  >Managers</a>
            </li>
          </ng-container>


          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!-- Page Content -->
<div class="page-heading header-text"  >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Liste des équipement</h1>
        <div>
          <button class="btn btn-primary" (click)="onOpenModal(null, 'add')" > Ajouter Equipement</button>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="services">
  <div class="container">

      <table id="example" class="table table-striped table-bordered" style="width:100%">
      <thead>

      <tr>
        <th>Image</th>
        <th>équipement</th>
        <th>action</th>
      </tr>

      </thead>
      <tbody>
      <ng-container *ngIf="equipements">
      <tr *ngFor="let e of equipements">
        <td>{{e.nom}}</td>
        <td>{{e.nom}}</td>
        <td>
          <li class="list-inline-item">
          <button class="btn btn-danger" (click)="onOpenModal(e, 'delete')" ><i class="fa fa-trash"></i>Supprimer</button>
          <button class="btn btn-info" style="margin-left: 5px;" (click)="onOpenModal(e, 'update')"> <i class="fa fa-pencil-square"></i> modifier</button>
          </li>
        </td>
      </tr>
      </ng-container>

      </tbody>
    </table>
    <br>
    <br>



    <br>
    <br>
    <br>
    <br>
  </div>
</div>



<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright © 2021
        </p>
      </div>
    </div>
  </div>
</div>















<!-- Add Employee Modal -->
<div class="modal fade" id="addEquipementModalLabel" tabindex="-1" role="dialog" aria-labelledby="addEquipementModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Ajouter nouveau voiture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAjouterEquipement(addForm)">
          <div class="form-group">
            <label for="name">nom d'équipement</label>
            <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="nom" required>
          </div>
<!--          <div class="form-group">-->
<!--            <label for="email">Image</label>-->
<!--            <input type="email" ngModel name="type" class="form-control" id="type" placeholder="type" required>-->
<!--          </div>-->
          <div class="modal-footer">
            <button type="button" id="add-equipement-form" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Enregistrer</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<div class="modal fade" id="deleteEquipementModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Supprimer Equipement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer l'équipement  {{equipementDelete?.nom}} ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Non</button>
          <button (click)="onSupprimeEquipement(equipementDelete)" class="btn btn-danger" data-dismiss="modal">Oui</button>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- Add Employee Modal -->
<div class="modal fade" id="updateEquipementModal" tabindex="-1" role="dialog" aria-labelledby="updateModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Modifier l'équipement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="onModifierEquipement(updateForm)">
          <div class="form-group">
            <label for="name">Nom</label>
            <input type="text" ngModel  name="nom" class="form-control" id="nom"  value="{{equipementUpdate?.nom}}" required>
          </div>
          <div class="modal-footer">
            <button type="button" id="update-equipement-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





