<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" >
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
    <main>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
              <div class="card-header">
                <h3 class="text-center font-weight-light my-4">S'identifier</h3>
              </div>
              <div class="card-body">
                <form #f="ngForm" (ngSubmit)="onVerifierCompte(f)">
                  <div class="form-group">
                    <label class="small mb-1" for="inputEmailAddress">Email</label>
                    <input class="form-control py-4" id="inputEmailAddress"
                           type="email" name="email" placeholder="Saisir votre mail"   required ngModel/>
                  </div>
                  <div class="form-group">
                    <label class="small mb-1" for="inputPassword">Password</label>
                    <input class="form-control py-4" id="inputPassword"
                           type="password" name="password" placeholder="Saisir votre mot de passe" required ngModel/>
                  </div>
                  <b style="color: red;">  </b>
                  <div
                    class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a class="small" href="password.html">Mot de passe oublié?</a>
                    <button class="btn btn-primary" type="submit">
                      S'identifier</button>
                  </div>
                </form>
              </div>
              <div class="card-footer text-center">
                <div class="small">
                  <a routerLink="/register">Besoin d'un compte? S'inscrire!</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>

</div>
