<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="!UserName">
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="UserName">
        <ul class="right-icons">
          <li><a routerLink="deconnexion" (click)="onDeconnexion()" ><i class="fa fa-sign-in" style="padding: 5px;"></i>Déconnextion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class=""  id="xxx">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars"  routerLinkActive="active">Voiture</a>
          </li>

          <ng-container *ngIf="typeCompte=='CM'">
            <li class="nav-item dropdown">
              <a routerLinkActive="active" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/locations" >locations</a>
                <a class="dropdown-item" routerLink="/equipements" >équipement</a>
                <a class="dropdown-item" routerLink="/clients" >clients</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="typeCompte=='CA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="/managers" routerLinkActive="active"  >Managers</a>
            </li>
          </ng-container>



          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>contactez-nous</h1>
        <span>N'HÉSITEZ PAS À NOUS ENVOYER UN MESSAGE MAINTENANT !</span>
      </div>
    </div>
  </div>
</div>


<section class="contact-us">
  <div class="container">
    <div class="row">

      <div class="col-lg-12">
        <div class="down-contact">
          <div class="row">
            <div class="col-lg-8">
              <div class="sidebar-item contact-form">
                <div class="sidebar-heading">
                  <h2>Send us a message</h2>
                </div>
                <div class="content">
                  <form id="contact" action="" method="post">
                    <div class="row">
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="name" type="text" id="name" placeholder="Your name" required="">
                        </fieldset>
                      </div>
                      <div class="col-md-6 col-sm-12">
                        <fieldset>
                          <input name="email" type="text" id="email" placeholder="Your email" required="">
                        </fieldset>
                      </div>
                      <div class="col-md-12 col-sm-12">
                        <fieldset>
                          <input name="subject" type="text" id="subject" placeholder="Subject">
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <textarea name="message" rows="6" id="message" placeholder="Your Message" required=""></textarea>
                        </fieldset>
                      </div>
                      <div class="col-lg-12">
                        <fieldset>
                          <button type="submit" id="form-submit" class="main-button">Send Message</button>
                        </fieldset>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="sidebar-item contact-information">
                <div class="sidebar-heading">
                  <h2>contact information</h2>
                </div>
                <div class="content">
                  <ul>
                    <li>
                      <h5>+1 333 4040 5566</h5>
                      <span>PHONE NUMBER</span>
                    </li>
                    <li>
                      <h5>contact@company.com</h5>
                      <span>EMAIL ADDRESS</span>
                    </li>
                    <li>
                      <h5>212 Barrington Court New York</h5>
                      <span>STREET ADDRESS</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div id="map">
          <iframe src="https://maps.google.com/maps?q=Av.+L%C3%BAcio+Costa,+Rio+de+Janeiro+-+RJ,+Brazil&t=&z=13&ie=UTF8&iwloc=&output=embed" width="100%" height="450px" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>

    </div>
  </div>
</section>


<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright © 2021
        </p>
      </div>
    </div>
  </div>
</div>
