
<!-- Header -->
<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="!UserName">
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="UserName">
        <ul class="right-icons">
          <li><a routerLink="deconnexion" (click)="onDeconnexion()" ><i class="fa fa-sign-in" style="padding: 5px;"></i>Déconnextion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<header class=""  id="xxx">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars"  routerLinkActive="active">Voiture</a>
          </li>

          <ng-container *ngIf="typeCompte=='CM'">
            <li class="nav-item dropdown">
              <a routerLinkActive="active" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer</a>
              <div class="dropdown-menu">
                  <a class="dropdown-item" routerLink="/locations" >locations</a>
                  <a class="dropdown-item" routerLink="/equipements" >équipement</a>
                  <a class="dropdown-item" routerLink="/clients" >clients</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="typeCompte=='CA'">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/managers" routerLinkActive="active"  >Managers</a>
                  </li>
            </ng-container>


          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<!-- Page Content -->
<!-- Banner Starts Here -->
<div class="main-banner header-text" id="top">
  <div class="Modern-Slider">
    <!-- Item -->
    <div class="item item-1">
      <div class="img-fill">
        <div class="text-content">
          <h4>Bienvenue dans notre agence </h4>
          <p>Notre entreprise propose de nombreux services à ses clients, notre plus grand objectif est votre confort et votre confiance, Merci pour votre confiance</p>
          <a  class="filled-button">Voitures</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Banner Ends Here -->



<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Certaines de nos  <em>voitures</em></h2>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/product-1-720x480.jpg" alt="">
          <div class="down-content">
            <h4>Dacia</h4>
            <div style="margin-bottom:10px;">
                  <span>
                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
                  </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">plus d'info</a>
          </div>
        </div>

        <br>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/product-2-720x480.jpg" alt="">
          <div class="down-content">
            <h4>chery cc</h4>
            <div style="margin-bottom:10px;">
                  <span>
                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
                  </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">plus d'info</a>
          </div>
        </div>

        <br>
      </div>
      <div class="col-md-4">
        <div class="service-item">
          <img src="assets/images/product-3-720x480.jpg" alt="">
          <div class="down-content">
            <h4>Mazda</h4>
            <div style="margin-bottom:10px;">
                  <span>
                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>11779
                  </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> Manual &nbsp;&nbsp;&nbsp;
            </p>
            <a href="car-details.html" class="filled-button">plus d'info</a>
          </div>
        </div>

        <br>
      </div>
    </div>
  </div>
</div>

<div class="fun-facts">
  <div class="container">
    <div class="more-info-content">
      <div class="row">
        <div class="col-md-6">
          <div class="left-image">
            <img src="assets/images/about-1-570x350.jpg" class="img-fluid" alt="">
          </div>
        </div>
        <div class="col-md-6 align-self-center">
          <div class="right-content">
            <span>Qui nous sommes</span>
            <h2>faire connaissance avec <em>notre entreprise</em></h2>
            <p>
              nous somme des jeunes commencent cette entreprise afin de fournir des services de niveau a ces clients, Notre société a été créée en 2021, son siège principal est situé dans la ville de Fès et notre flotte se compose de plus de 30 voitures de haute qualité.
            </p>
            <a class="filled-button">Lire la suite</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="more-info">
  <div class="container">
    <div class="section-heading">
      <h2>Horraire de travail</h2>
    </div>

    <div class="row" id="tabs">
      <div class="col-md-4">
        <ul>
          <li><a href='#tabs-1'>Heures d'ouverture les jours normaux <br> <small>9h00 - 18h-00</small></a></li>
          <li><a href='#tabs-2'>Horaires d'ouverture en été<br> <small>11h00 - 20h00</small></a></li>
          <li><a href='#tabs-3'>Horaires d'ouverture pendant le Ramadan<br> <small>10h00 - 16h00</small></a></li>
        </ul>

        <br>

        <div class="text-center">
          <a href="blog.html" class="filled-button">plus d'info</a>
        </div>

        <br>
      </div>

      <div class="col-md-8">
        <section class='tabs-content'>
          <article id='tabs-1'>
            <img src="assets/images/blog-image-1-940x460.jpg" alt="">
          </article>
        </section>
      </div>
    </div>


  </div>
</div>




<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright © 2021
        </p>
      </div>
    </div>
  </div>
</div>
