<!-- Header -->
<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="!UserName">
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="UserName">
        <ul class="right-icons">
          <li><a routerLink="deconnexion" (click)="onDeconnexion()" ><i class="fa fa-sign-in" style="padding: 5px;"></i>Déconnextion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>



<header class=""  id="xxx">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars"  routerLinkActive="active">Voiture</a>
          </li>

          <ng-container *ngIf="typeCompte=='CM'">
            <li class="nav-item dropdown">
              <a routerLinkActive="active" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/locations" >locations</a>
                <a class="dropdown-item" routerLink="/equipements" >équipement</a>
                <a class="dropdown-item" routerLink="/clients" >clients</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="typeCompte=='CA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="/managers" routerLinkActive="active"  >Managers</a>
            </li>
          </ng-container>


          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


<!-- Page Content -->
<div class="page-heading header-text"  >
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Voitures</h1>
        <span  *ngIf="typeCompte!='CM'" >Liste des voitures</span>
        <ng-container *ngIf="typeCompte=='CM'">
        <div>
          <button class="btn btn-primary"  (click)="onOpenModal(null, 'add')"> Ajouter voiture</button>
        </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
     <div class="row"  style="display: grid;">

      <ng-container *ngIf="cars">
      <div class="col-md-4"  *ngFor="let car of cars
        |paginate:{
        itemsPerPage:1,
        currentPage:page,
        totalItems:totalRecords
        }">
        <div class="service-item">
          <img   style="width: 289px; height: 217px" src="{{this.voitureService.host+'/voitures/photoVoiture/'+car.id_voiture}}" />
          <div class="down-content">

            <h4> {{car.nom}}
              <ng-container *ngIf="car.disponible==0">
                <mark>disponible</mark>
            </ng-container>
            </h4>

            <div style="margin-bottom:10px;">
                  <span>
                      <del><sup>$</sup>11999 </del> &nbsp; <sup>$</sup>{{car.prix}}
                  </span>
            </div>

            <p>
              <i class="fa fa-dashboard"></i> 130 000km &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cube"></i> 1800 cc &nbsp;&nbsp;&nbsp;
              <i class="fa fa-cog"></i> {{car.disponible}} &nbsp;&nbsp;&nbsp;
            </p>
            <a (click)="onSelectCar(car)" class="filled-button">plus d'info</a>
            <ng-container *ngIf="typeCompte=='CM'">
              <button class="btn btn-danger" style="float: right;" (click)="onOpenModal(car, 'delete')"><i class="fa fa-trash" ></i></button>
            </ng-container>

            <ng-container *ngIf="typeCompte=='CC' && car.disponible==0 ">

                <a  class="filled-button " style="margin-left: 6px;" (click)="onOpenModal(car, 'reserve')"> Réserver</a>

            </ng-container>
          </div>
        </div>
        <br>


      </div>
      </ng-container>
      <div class="pagination-style ">
        <pagination-controls responsive="true" previousLabel="Precedant" nextLabel="Suivant" (pageChange)="page = $event">
        </pagination-controls>
      </div>
    </div>

    <br>
    <br>



    <br>
    <br>
    <br>
    <br>
  </div>
</div>



<div class="sub-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright © 2021
        </p>
      </div>
    </div>
  </div>
</div>


  <!-- Add Employee Modal -->
  <div class="modal fade" id="addVoitureModalLabel" tabindex="-1" role="dialog" aria-labelledby="addVoitureModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" >Ajouter nouveau voiture</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAjouterVoiture(addForm)">
            <div class="form-group">
              <label for="name">nom</label>
              <input type="text" ngModel name="nom" class="form-control" id="nom" placeholder="nom" required>
            </div>
            <div class="form-group">
              <label for="email">Type</label>
              <input type="email" ngModel name="type" class="form-control" id="type" placeholder="type" required>
            </div>

            <div class="form-group">
              <label for="phone">matricule</label>
              <input type="text" ngModel name="matricule" class="form-control" id="matricule" placeholder="matricule" required>
            </div>
            <div class="form-group">
              <label for="phone">modèle</label>
              <input type="text" ngModel name="modele" class="form-control" id="modele" placeholder="modele" required>
            </div>
            <div class="form-group">
              <label for="phone">prix</label>
              <input type="text" ngModel name="prix" class="form-control" id="prix" placeholder="prix" required>
            </div>

            <div class="form-group">
              <label for="phone">marque</label>
              <input type="text" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>

            <div class="form-group">
              <label for="phone">Image URL</label>
              <input type="file" (change)="onSelectedFile($event)" ngModel name="imageUrl" class="form-control" id="imageUrl" placeholder="Image URL" required>
            </div>

            <div class="modal-footer">
              <button type="button" id="add-voiture-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid"  type="submit" class="btn btn-primary" >Save changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>



<div class="modal fade" id="deleteCarModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModelLabel">Supprimer Voiture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de vouloir supprimer la voiture  {{deleteCar?.nom}}?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
          <button (click)="onSupprimeVoiture(deleteCar)" class="btn btn-danger" data-dismiss="modal">Yes</button>
        </div>
      </div>

    </div>
  </div>
</div>



<!-- Add Employee Modal -->
<div class="modal fade" id="reserveCarModal" tabindex="-1" role="dialog" aria-labelledby="reserveModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Réservation de voiture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #reserveForm="ngForm" (ngSubmit)="onReserveVoiture(reserveForm)">
               <div class="form-group">
                          <label for="name">Date de début</label>
                          <input type="date" ngModel  name="dated" class="form-control" id="dated"   required>
                        </div>
                        <div class="form-group">
                          <label for="Date de fin">Date de fin</label>
                          <input type="date"  ngModel name="datef" class="form-control" id="datef"  required>
                        </div>
               <div class="modal-footer">
            <button type="button" id="reserve-voiture-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>




