
<div class="sub-header">
  <div class="container"  >
    <div class="row">
      <div class="col-md-8 col-xs-12">
        <ul class="left-info">
          <li><a href="#"><i class="fa fa-envelope"></i>contact@company.com</a></li>
          <li><a href="#"><i class="fa fa-phone"></i>0627212271</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="!UserName">
        <ul class="right-icons">
          <li><a routerLink="/login"><i class="fa fa-sign-in" style="padding: 5px;"></i> Authentifier </a></li>
          <li><a routerLink="/register"><i class="fa fa-user" style="padding: 5px;"></i>Identifier</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-xs-8" *ngIf="UserName">
        <ul class="right-icons">
          <li><a href="" (click)="onDeconnexion()" ><i class="fa fa-sign-in" style="padding: 5px;"></i>Déconnextion</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<header class=""  id="xxx">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/acceuil" routerLinkActive="active">Acceuil
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/cars"  routerLinkActive="active">Voiture</a>
          </li>

          <ng-container *ngIf="typeCompte=='CM'">
            <li class="nav-item dropdown">
              <a routerLinkActive="active" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Gérer</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" routerLink="/locations" >locations</a>
                <a class="dropdown-item" routerLink="/equipements" >équipement</a>
                <a class="dropdown-item" routerLink="/clients" >clients</a>
              </div>
            </li>
          </ng-container>

          <ng-container *ngIf="typeCompte=='CA'">
            <li class="nav-item">
              <a class="nav-link" routerLink="/managers" routerLinkActive="active"  >Managers</a>
            </li>
          </ng-container>


          <li class="nav-item">
            <a class="nav-link" routerLink="/contact" routerLinkActive="active" >Contactez-nous</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>




<!-- Page Content -->
<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1><small><del><sup>$</sup>300</del></small> &nbsp; <sup>$</sup>{{voiture.prix}} </h1>
            <span>
               {{voiture.nom}}
            </span>
      </div>
    </div>
  </div>
</div>
<div class="services">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div>
          <img class="img-fluid wc-image" src="{{this.voitureService.host+'/voitures/photoVoiture/'+voiture.id_voiture}}" />
        </div>
        <br>
        <br>
      </div>

      <div class="col-md-5">
        <form action="#" method="post" class="form">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">Type</span>

                <strong class="pull-right">{{voiture.type}}</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">matricule</span>

                <strong class="pull-right">{{voiture.matricule}}</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left"> modèle</span>

                <strong class="pull-right">{{voiture.modele}}</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">année modèle</span>

                <strong class="pull-right">05/2010</strong>
              </div>
            </li>


            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">carburant</span>

                <strong class="pull-right">carburant</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">boiteAvitesse</span>

                <strong class="pull-right">boiteAvitesse</strong>
              </div>
            </li>

            <li class="list-group-item">
              <div class="clearfix">
                <span class="pull-left">puissanceFiscale</span>

                <strong class="pull-right">puissanceFiscale</strong>
              </div>
            </li>

            <li class="list-group-item">
                            <div class="clearfix">
                              <span class="pull-left">Fuel</span>

                              <strong class="pull-right">Diesel</strong>
                            </div>
                          </li>

            <li class="list-group-item">
                            <div class="clearfix">
                              <span class="pull-left">Gearbox</span>

                              <strong class="pull-right">Manual</strong>
                            </div>
                          </li>

          </ul>
        </form>

        <br>
      </div>
    </div>

    <br>





    <div  class="row">
      <div class="col-md-8" >
        <div class="tabs-content">
          <h4>Vehicle Description</h4>
          <ng-container *ngIf="typeCompte=='CM'">
              <a  (click)="onOpenModal( 'description')">
                <i class="fa fa-pencil-square"></i>
              </a>
            </ng-container>
           <p>{{voiture.description}}</p>
          <br>
        </div>
      </div>

<!--      <div class="col-md-4">-->
<!--        <div class="tabs-content">-->
<!--          <h4>Equipements</h4>-->
<!--          <p>- ABS <br>-Leather seats <br>-Power Assisted Steering <br>-Electric heated seats <br>-New HU and AU <br>-Xenon headlights</p>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <br>
    <br>
    <br>
  </div>
</div>



<!-- Main Body -->
<section>
  <div class="container">
    <div class="row">
       <div class="col-md-8">
         <div class="tabs-content">
        <h4>Commentaire</h4>
        <ng-container  *ngFor=" let commentaire of commentaires">

        <div class="text-justify darker float-left" style="margin-top: 4px; margin-bottom: 4px;">
          <img src="https://i.imgur.com/CFpa3nK.jpg" alt="" class="rounded-circle" width="40" height="40">
          <h4>{{commentaire.nom_client}} {{commentaire.prenom_client}}</h4> <span>- {{commentaire.sdate}}</span> <br>
          <p>{{commentaire.commentaire}}</p>
        </div>

        </ng-container>
         </div>

      </div>
      <ng-container *ngIf="UserName && typeCompte!='CM'">
      <div class="col-md-4">
        <div class="tabs-content">
        <form id="algin-form" #updateForm="ngForm" (ngSubmit)="onAjouterCommentaire(updateForm)">
          <div class="form-group">
            <h4>laissez un commentaire</h4> <textarea name="commentaire" id="msg"  cols="30" rows="5" class="form-control"  ngModel></textarea>
          </div>
          <div class="form-group"> <button  [disabled]="typeCompte=='CA' || typeCompte=='CM'" type="submit" id="post" class="btn">Poster</button> </div>
        </form>
        </div>
      </div>
      </ng-container>
    </div>
  </div>
</section>



















<!-- Footer Starts Here -->


<div class="sub-footer" style="margin-top: 20px;">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p>
          Copyright © 2021
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 70px;">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Book Now</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="#" id="contact">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Pick-up location" required="">
                </fieldset>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Return location" required="">
                </fieldset>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Pick-up date/time" required="">
                </fieldset>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Return date/time" required="">
                </fieldset>
              </div>
            </div>
          </div>

          <div class="form-group">
            <fieldset>
              <input type="text" class="form-control" placeholder="Enter full name" required="">
            </fieldset>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter email address" required="">
                </fieldset>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <fieldset>
                  <input type="text" class="form-control" placeholder="Enter phone" required="">
                </fieldset>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Book Now</button>
      </div>
    </div>
  </div>
</div>









<!-- Add Employee Modal -->
<div class="modal fade" id="DescriptionModal" tabindex="-1" role="dialog" aria-labelledby="DescriptionModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Modifier la description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #updateForm="ngForm" (ngSubmit)="onModifierVoiture(updateForm)">
          <div class="form-group">
            <label for="message-text" class="col-form-label">description:</label>
            <textarea  class="form-control" id="message-text"  name="desc" [(ngModel)]="voiture.description"  ></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" id="description-voiture-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button  type="submit" class="btn btn-primary" >Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>





